{% load static %} {% load pwa %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--TAilwind css-->
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/StudiMates/css/main.css" />

    {% progressive_web_app_meta %}

    <title>Stud!Mates</title>
    <style>
      *,
      *:before,
      *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: whitesmoke;
      }
      html {
        scroll-behavior: smooth;
      }
      #section2-footer {
        min-height: 20px;

        background-color: black;
        color: white;
      }
      #section1-body-contents {
        height: 700px;
        margin: 20px;
        text-align: center;
        width: 100%;
      }
      .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
      }
      .clearfix {
        display: inline-block;
      }
      * html .clearfix {
        height: 1%;
      }
      .clearfix {
        display: block;
      }

      .row {
        margin: 0 auto;
        max-width: 1000px;
        width: 100%;
      }

      .column {
        float: left;
        padding: 0 15px;
      }

      .span_4 {
        width: 33.3333%;
      }
      html {
        scroll-behavior: smooth;
      }
      body {
        background-color: #2b6777;
      }

      #Head-top {
        height: 60px;
        background-color: #2b6777;
      }
      .navigation-bar {
        position: fixed;
      }
    </style>
  </head>
  <body style="">
    <div class="navigation-bars">
      <!--TOp Header-->
      <nav
        id="Head-top"
        style=""
        class="navbar navbar-expand-lg navbar-dark bg-dark"
      >
        <div class="container">
          <div id="Head-top-box-black" class="row clearfix">
            <div class="span_4 column">
              <a href="#" class="navbar-brand left">StudiMates</a>
            </div>

            <div class="span_4 column">
              hello
              <script>
                var today = new Date();

                var day = today.getDay() % a;
                var date = today.getDate();
                var time =
                  today.getHours() +
                  ":" +
                  today.getMinutes() +
                  ":" +
                  today.getSeconds();
                document.write(" " + time);
              </script>
            </div>

            <div class="span_4 column">
              <a href="{% url 'about' %}" class="about"> About </a>|
              <a href="{% url 'login' %}" class="login"> Login </a>|
              <a href="{% url 'register' %}" class="Register"> Register </a>
            </div>
          </div>

          <div class="right">
            <ul class="navbar-n right" style="color: white"></ul>
          </div>
        </div>
      </nav>

      <!--NAvigation bar-->

      <nav
        id="main-navigation-bar"
        class="navbar navbar-expand-lg navbar-light bg-light"
      >
        <div style="padding: 2px" class="container-fluid">
          <a class="navbar-brand" href="/StudiMates/templates/home.html"
            ><img
              src="{% static 'images/StudiMatesLogo.PNG' %}"
              alt="StudiMates"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            style="padding: 2px"
            class="collapse navbar-collapse"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="{% url 'home' %}"
                  >Home</a
                >
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle-dark"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Courses
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">MCA</a></li>
                  <li>
                    <a class="dropdown-item" href="{% url 'syllabus' %}"
                      >Syllabus</a
                    >
                  </li>
                  <li><a class="dropdown-item" href="#">Written Notes</a></li>
                  <li><a class="dropdown-item" href="#">PDF Notes</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Question Papers</a></li>
                </ul>
              </li>

              <li style="padding: 2px" class="nav-item">
                <a class="nav-link" href="{% url 'syllabus' %}">Syllabus</a>
              </li>

              <li style="padding: 2px" class="nav-item">
                <a class="nav-link" href="{% url 'resources' %}">Resources</a>
              </li>

              <li style="padding: 2px" class="nav-item">
                <a
                  class="nav-link"
                  href="#section2-footer"
                  href="{%url 'contact' %}"
                  >Contact</a
                >
              </li>

              <li style="padding: 2px" class="nav-item">
                <a class="nav-link" href="{% url 'extras'%}">Extras</a>
              </li>
              <!--  <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>-->
            </ul>
            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>
          </div>
        </div>
      </nav>
    </div>

    <div id="section1-body-contents">{% block content%} {% endblock %}</div>
    <div id="section2-footer">
      <!--Tailwind footer-->

      <footer class="text-gray-600 body-font">
        <div
          class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col"
        >
          <div
            class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left"
          >
            <a
              class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
            >
              <img
                src="/StudiMates/static/images/StudiMatesLogo.PNG"
              /><!--fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">-->
              <path
                d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"
              ></path>

              <span class="ml-3 text-xl">Stud!Mates</span>
            </a>
            <p class="mt-2 text-sm text-gray-500">
              To acquire knowledge, one must study
            </p>
          </div>
          <div
            class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center"
          >
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2
                class="title-font font-medium text-white-900 tracking-widest text-sm mb-3"
              >
                Site Links
              </h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Home</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Courses</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Syllabus</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Resources</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2
                class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3"
              >
                --
              </h2>
              <nav class="list-none mb-10">
                <li>
                  <a
                    class="text-gray-600 hover:text-gray-800"
                    href="contact.html"
                    >Contact us</a
                  >
                </li>
                <li>
                  <a
                    class="text-gray-600 hover:text-gray-800"
                    href="extras.html"
                    >Extra</a
                  >
                </li>
              </nav>
            </div>
            <!-- <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">First Link</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Second Link</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Third Link</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
                </li>
              </nav>
            </div>-->
          </div>
        </div>
        <div class="bg-gray-100">
          <div
            class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row"
          >
            <p class="text-gray-500 text-sm text-center sm:text-left">
              © 2021 Stud!Mates Ashwin&Ajay —
              <a
                href="https://twitter.com/StudiMates"
                rel="noopener noreferrer"
                class="text-gray-600 ml-1"
                target="_blank"
                >@Stud!Mates</a
              >
            </p>

            <span
              class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start"
            >
              <a class="text-white-500">
                <svg
                  fill="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-5 h-5"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
                  ></path></svg
                >Hello
              </a>
              <a class="ml-3 text-white-500">
                <svg
                  fill="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-5 h-5"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
                  ></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-500">
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-5 h-5"
                  viewBox="0 0 24 24"
                >
                  <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                  <path
                    d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
                  ></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-500">
                <svg
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="0"
                  class="w-5 h-5"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="none"
                    d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
                  ></path>
                  <circle cx="4" cy="4" r="2" stroke="none"></circle>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </footer>

      <!-- <div class="card-group">
            <div class="card">
              
              <div class="card-body">
                <h5 class="card-title">Fb</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
            -->
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
  </body>
</html>
