<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tables</title>
</head>
<body>
    <table style="background: aquamarine;">
        <tr>
            <th>Sr.</th>
            <th>Name</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Rugved</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Sujata</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Ashwin</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Bhavna</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Swapnali</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Nikhil</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Swapnali</td>
        </tr>

    </table>
</body>
</html>